@charset "utf-8";
.mapContent {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  .mapDiv, .mapfullDiv{
    width: 50%;
    height: 320px;
    margin-bottom: 20px;
    .p{
      height: 20px;
      line-height: 20px;
    }
    .maps {
      width: 100%;
      height: calc(100% - 20px);
    }
  }
  .mapfullDiv{
    width: 100%;
    .mapsGeneral{
      width: 50%;
      height: calc(100% - 20px);
    }
    .mapfullD{
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
    }
  }
}